header{
    text-align: center;
}
nav{
    text-align: center;
}
#me{
    text-align: left;
}
#option{
    text-align: center;
}
#dept{
    text-align: center;
}
body{
    background-color: rgb(4, 37, 58);
    color: aliceblue;
    text-align: left;   
}


.fr{
    color: rgb(255, 255, 255);
    font-family: 'cambria';
    font-weight: bold;
    font-size: large;
}
#contact{
    background-color: rgb(253, 254, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}

footer{
    text-align: center
    background-color: rgb(253, 254, 255);
    color: aliceblue;
}
#con{
    color: aliceblue
    font-style: italic;
}